nodered/api-demo.json
[
    {
        "id": "e6b250cff0618632",
        "type": "tab",
        "label": "API Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b36aa30.3a7276",
        "type": "http request",
        "z": "e6b250cff0618632",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.airtable.com/v0/appuF6og13AGBF0EF/books",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer pate3stIxnUKmQIY8.f01db223241727662b525115462b85c274832947379e1c09db54a5e682d6453d"
            },
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 290,
        "y": 60,
        "wires": [
            [
                "1ef9987c.956c78"
            ]
        ]
    },
    {
        "id": "11167f67.5d5031",
        "type": "inject",
        "z": "e6b250cff0618632",
        "name": "books API",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "https://api.airtable.com/v0/appuF6og13AGBF0EF/books",
        "payloadType": "str",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "b36aa30.3a7276"
            ]
        ]
    },
    {
        "id": "1ef9987c.956c78",
        "type": "debug",
        "z": "e6b250cff0618632",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 470,
        "y": 60,
        "wires": []
    }
]